@charset "UTF-8";
@use "./fonts";

html{
	-ms-text-size-adjust: 100%;
 	-webkit-text-size-adjust: 100%;
 	-moz-text-size-adjust: 100%;
	font-size:x-small;
}
header, article, div{
	outline:none;
}

html,
body {
  @extend %bodyCopy;

}

body{
  background: var(--color-m-900);
  color: var(--color-m-white)
}

img{
  width: var(--hundred);
  height: var(--hundred);
}

a{
  color: var(--color-m-white);
  text-decoration:none;
  font-weight:bold;
  &:hover{
    text-decoration:underline;
  }
  &:focus{
    outline:none;
  }
}


summary{
  cursor:pointer;
}