
  $tablet: 768px; // Tablet portrait minimum
  $desktop: 992px; // Laptop+Desktop minimum
  $large-desktop: 1280px; // Large screen minimum

@mixin disabled{
	cursor:default;
    pointer-events: none;
    user-select: none;
    opacity:.2;
}

@mixin svg($img,$position:0 0,$color:transparent,$repeat: no-repeat) {
    background: {
    	color: $color;
      image: url("../assets/svg/"+$img+".svg"), none;
      position: $position;
      repeat: $repeat;
    }
}

@mixin tablet {
  @media (width > #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (width > #{$desktop}) {
    @content;
  }
}

@mixin desktop-lg {
  @media (width > #{$desktop-lg}) {
    @content;
  }
}

