//Colors

:root {
  --color-ln-01: #67c0dd;
  --color-ln-02: #e0292f;
  --color-ln-03: #fdd700;
  --color-ln-04: #cf7700;
  --color-ln-05: #98be13;
  --color-ln-06: #c0bab0;
  --color-ln-07: #f19c0c;
  --color-ln-08: #eba6c9;
  --color-ln-09: #eba6c9;
  --color-ln-10: #005fa9;
  --color-ln-11: #009739;
  --color-ln-12: #af9f00;
  --color-ln-ml: #5f87c0;
  --color-ln-r: #005fa9;

  --color-m-white: #ffffff;
  --color-m-black: #242424;

  --mobile-landscape: 480px; // Phone landscape minimum
  --tablet: 768px; // Tablet portrait minimum
  --desktop: 992px; // Laptop+Desktop minimum
  --large-desktop: 1280px; // Large screen minimum
  --hundred: 100%;
  --content-width: 99rem;
}

//Responsive configuration
